*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;

}
div.logo{
    display:block;
    background-image:url("./PicsArt_04-28-02.35.22.png");
    background-size:45px;
    height:45px;
    width:45px;
    cursor:pointer;
    opacity:100%;
    z-index:9999;
}
nav.pc{
    transition:2s;
    transition-delay: 2s;
    position:fixed;
    display:flex;
    justify-content: space-between;
    width:100%;
    opacity:60%;
    height:45px;
    background:rgb(8, 8, 8);
    border-bottom: 2px solid rgb(41, 41, 41);
}

/* as barras da nav*/

div.barrapc{
    cursor:pointer;
    transition:all 1s;
    height:4%;
    width:20%;
    margin-top:15px;
    margin-right: 20px;
    display:inline-block;
    position:fixed;
    top:0;
    right:20px;
    z-index:3000;
}
.barra1pc{
    width:25px;
    height:5px;
    background:#555550;
}
.barra2pc{
    margin-top:7px;
    width:25px;
    height:5px;
    background:#555550;
}
/* barra no .active */

.barrapc.active{
    height:100%;
    margin-top:18px;
}
.barra1pc.active{
    width:10px;
    height:5px;
    background:#b6b67e;
    transform: rotate(42deg) translate(1px, 3px);
}
.barra2pc.active{
    width:25px;
    height:5px;
    background:#7c7c59;
    transform: rotate(-42deg) translate(4px, -7px);
}
/* transicao vezinho cada */
.barrapc, .barrapc.active{
    transition: all 1s;
}
.barra1pc, .barra1pc.active{
    transition: all 0.97s;
}
.barra2pc, .barra2pc.active{
    transition: all 1s;
}
/* sobre mim aberto com bzinho*/

.aboutbpc{
    z-index:1;
    width:100%;
    position:fixed;
    margin-top:2.8rem;
    margin-left:-300px;
    transition:1s;
    transition-delay:0.6s;
    padding-left:20px;
}
.aboutbpc.active{
    z-index:1;
    position:fixed;
    margin-top:2.8rem;
    padding-right:400px;
    width:100%;
    opacity:70%;
    padding-top:40px;
    height:100%;
    transition:1.4s;
    transition-delay: 1s;
}
 
.aboutbpcopened{
    opacity:0;
    transition:0.2s;
    transition-delay:0.6s;
    pointer-events:none;
}

/* opnening the b */

.baixob1pc{
    text-decoration: none;
    font-size:30px;
    color:gray;
    cursor:pointer;
}
.baixobpc1:hover{
    color:white;
    transition:2s;
    transition-delay:0.4s;
}
.baixob2pc{
    cursor:pointer;
    text-align:center;
    margin-top: 60px;
}
div.aboutbpcopened ul{
    width:20%;
}
.aboutbpcopened.active{
    opacity:1;
    pointer-events: all;
    transition-delay:1.6s;
}
.aboutbpc li:hover{
    text-decoration: underline;
}


/*INICIA EDIÇÃO SIE GERAL*/

/*opções da introdução letras e href*/
header{
    text-align:center;
}
/*about v sobre */
.aboutv{
    display:none;
}
/*barrapc sobre*/

/*about pc selecionado inline-block pela nav*/
nav{
    opacity:70%;
}

.aboutpc{
    position:fixed;
    width:70%;
}
div.aboutpcopened li{
    display:inline-block;
    text-align:center;
    margin:10px 30px;
    opacity:1;
}
ul.aboutpcopened{
    position:fixed;
    width:100%;
    top:0;
    display:none;
}

.aboutpcopened a{
    color:rgb(224, 205, 205);
    opacity:1;
    text-decoration:none;
    text-align:right;
    font-size:20px;
    width:10%;
}
.baixopc2 a{
    margin-left:2px;
}
.aboutpcopened a:hover{
    text-decoration:underline;
    color:rgb(255, 255, 255);
    transition:0.4s;
    transition-delay:0.6s;
}
/* aboutbpcopened */ 
.aboutbpc{
    display:block;
    padding-top:0;
    height:0;
    background-color:rgb(8, 8, 8);
    opacity:1;
    transition:1s;
    transition-delay:0.6s;
    left:1100px;
}
.aboutbpc.active{
    height:100%;
    transition:1.4s;
    transition-delay: 1s;
}
.aboutbpcopened{
    opacity:0;
    transition:0.2s;
    transition-delay:0.6s;
    pointer-events:none;
}
.aboutbpcopened.active{
    opacity:1;
    pointer-events: all;
    transition-delay:1.6s;
}
.aboutbpcopened ul{
    list-style: none;
}
.baixobpc2{
    cursor:pointer;
    text-align:center;
    margin-top: 60px;
    font-size:40px;
}
.baixobpc1{
    text-decoration:none;
    color:white;
    font-size:40px
}
.introd1{
    text-decoration:none;
    color:white;
}
/*about b fechado e escondido */
.aboutb{
  display:none;
}

.barrapc{
    display:none;
}
/* primeira fotinha de cima "abertura" */
.abertura{
    background-image:url("./colordifferent.jpg");
    height:500px;
    background-size:1700px;
    background-repeat: no-repeat;
    background-position:center;
    width:100%;
    margin-right:0;
}
/* about the introduction*/
/*sections1 part from the colordifferent.jpg*/
div.holditall .introducing2{
    display:inline-block;
    margin:60px 0;
}

div.holditall{
    background:black;
    height:660px;
    margin-top: 100px;
    padding:0 10px;
}
div.hoditall .introducing2{
    padding:0;
    margin-top:0;
}
.sections1{
    background:black;
}
section.introducing2{
    border:1px solid rgb(63, 63, 63);
    width:30%;
    height:130px;
    background-color:rgb(63, 63, 63);
    border-radius:20px;
    text-align:center;
    align-items: center;
    cursor:pointer;
    transition:0.7s;
    transition-delay: 0.3s;
}
section.introducing2:hover{
    transition:0.7s;
    height:300px;
}

section.intint{
    margin-top:40px;
}

/* introdution css */
.hello{
    color:rgb(195, 221, 255);
    font-size:47px;
    padding-top:400px;
    text-align:center;
}
.ch{
    color:rgb(214, 214, 214);
    font-size:40px;
    padding-top:20px;
}
.knowing{
    color:rgb(214, 214, 214);
    font-size:40px;
    padding-top:20px;
}
.knowing1{
    text-align:left;
    justify-content:left;
}
.jtk{
    color:rgb(214, 214, 214);
    font-size:40px;
    padding-top:20px;
}
.knowso{
    color:rgb(214, 214, 214);
    font-size:37px;
    padding-top:10px;
}

.intro1{
    color:rgb(214, 214, 214);
    padding-left:20px;
    font-size:24px;
    text-align:left;
}
.cadeira-num-campo{
    background-image: url("./WhatsApp\ Image\ 2021-05-30\ at\ 3.57.05\ PM.jpeg");
    background-position: center;
    background-size:1100px;
    height:600px;
}
.wiw{
    padding-top:100px;
    color:rgb(0, 0, 0);
    font-size:60px;
    padding-bottom:100px;
}
.intr1{
    color:rgb(17, 16, 16);
    font-size:29px;
    text-align:center;
}
.lilletter{
    padding-top:70px;
    font-family: 'Open Sans', sans-serif;
}

/* data anime transição para aparecer quando scroll down */ 

[data-anime]{
   display:none;
}





/* PROGRAMMING.HTML */


.whatf{
    background-image:url('./payton_alone.jpg');
    height:450px;

}
.sec2p{
    background:black;
    height:600px;
}

/* digitado */
.h2p{
    font-size:60px;
    color:white;
    padding-top:200px;
    text-align:center;
    padding-left:20px;
}
p.pp{
    font-size:30px;
    color:gray;
    padding-top:20px;
    padding-left:15px;
}




/* LANGUAGE.HTML */

.lang1sec{
    background-image:url("./images\ \(4\).jpg");
    height:450px;
    margin:auto;
    background-repeat:no-repeat;
    background-size:400px;
    background-position: center;
}
.englishexp{
      background-image: url("./england.jpg");
    height:700px;
    background-repeat:no-repeat;
    background-size:1100px;
    margin:auto;
    background-position:center;
    margin-bottom:100px;
}
.frenchexp{
    background-image: url("./franca.jpg");
    height:700px;
    background-repeat:no-repeat;
    margin:auto;
    background-position:center;
    background-size:1100px;
}
h2.h2lang{
    padding-top:300px;
    font-size:60px;
    color:white;
    text-align:center;
}
.pl{
    font-family: 'Pacifico', cursive;
    font-weight: 600;
    font-size:40px;
    color:white;
    padding-top:180px;
}
.pl2{
    font-family: 'Pacifico', cursive;
    font-size:30px;
    color:white;
    padding-top:90px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* ABOUTME.HTML */

.ab1sec{
    background-image:url("./studing.jpg");
    background-size:400px;
    height:350px;
    margin-bottom: 60px;
}
.cursesabtme{
    background-image: url("./eyes.jpg");
    height:700px;
    background-repeat:no-repeat;
    margin:auto;
    background-position:center;
    background-size:1800px;
    margin-bottom: 60px;
}
.expsabtme{
    background-image: url("./feet.jpg");
    height:700px;
    background-repeat:no-repeat;
    margin:auto;
    background-position:center;
    background-size:1800px;
    margin-bottom: 60px;
}
.tdbmeabtme{
    background-image: url("./boy.jpg");
    height:700px;
    background-repeat:no-repeat;
    margin:auto;
    background-position:center;
    background-size:1800px;
}
.h2about{
    padding-top:300px;
    font-size:40px;
    color:white;
    text-align:center;
}
.pab{
    font-size:60px;
    color:rgb(0, 0, 0);
    font-family:italic;
    padding-top:100px;
    padding-bottom:50px;
}
.pab2{
    font-size:25px;
    color:rgb(0, 0, 0);
    padding-top:60px;
}
.pab1{
    padding-left:600px;
}
.pab3{
    padding-left:630px;
}
.exps{
    padding-right:600px;
}
.noone{
    padding-left:600px;
}
.pab4{
    padding-right:600px;
}
.ily1{
    padding-top:180px;
}
/* sobre a última linha e redes sociais*/
.sectiondalinha-debaixo{
    background:rgb(0, 0, 0);
    height:260px;
}
ul.redes-sociais-ul{
    display:flex;
    list-style: none;
    justify-content: center;
}
ul.redes-sociais-ul li{
    margin: 60px;
    font-size: 60px;
    margin-bottom: 0;
}
.linharedes-sociais{
    border-bottom: 3px solid gray;
    margin:20px 20px;
    transition:0.9s;
    transition-delay: 1s;
}
div.textinho-debaixo-da-linha{
    text-align:right;
    padding-right:20px;
    padding-top:-10px;
    font-size:20px;
    color:gray;
}
.fa-twitter{
    color:	#1DA1F2;
}
.fa-envelope-square{
    color:#BB001B;
}
.fa-instagram{
    color:#8a3ab9;
}
.redes-sociais ul li:hover{
    color:white;
    font-size:67px;
    transition: 0.7s;
}
.redes-sociais ul li{
    transition: 0.7s;
}
@media screen and (max-width:1200px){
    div.holditall{
        background:black;
        height:1100px;
        margin-top: 100px;
        padding:20px 70px;
        margin-right:0;
    }
    section.introducing2{
        border:1px solid rgb(63, 63, 63);
        width:100%;
        height:100px;
        background-color:rgb(63, 63, 63);
        border-radius:20px;
        text-align:center;
        align-items: center;
        cursor:pointer;
        transition:0.7s;
        transition-delay: 0.3s;
    }
    .aboutbpc{
        z-index:1;
        width:100%;
        position:fixed;
        margin-top:2.8rem;
        margin-left:-400px;
        transition:1s;
        transition-delay:0.6s;
        padding-left:20px;
    }
    .aboutbpc.active{
        z-index:1;
        width:100%;
        position:fixed;
        margin-top:2.8rem;
        padding-right:400px;
        opacity:70%;
        padding-top:40px;
        height:100%;
        transition:1.4s;
        transition-delay: 1s;
}
}
@media screen and (max-width:940px){
    section.introducing2{
        border:1px solid rgb(63, 63, 63);
        width:100%;
        height:100px;
        background-color:rgb(63, 63, 63);
        border-radius:20px;
        text-align:center;
        align-items: center;
        cursor:pointer;
        transition:0.7s;
        transition-delay: 0.3s;
    }
    .aboutbpc{
        z-index:1;
        width:100%;
        position:fixed;
        margin-top:2.8rem;
        margin-left:-600px;
        transition:1s;
        transition-delay:0.6s;
        padding-left:20px;
    }
    .aboutbpc.active{
        z-index:1;
        width:100%;
        position:fixed;
        margin-top:2.8rem;
        padding-right:400px;
        opacity:70%;
        padding-top:40px;
        height:100%;
        transition:1.4s;
        transition-delay: 1s;
}
.pab{
    font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
    font-size:60px;
    color:white;
    padding-top:100px;
    padding-bottom:50px;
}
.pab2{
    font-size:25px;
    color:white;
    padding-top:60px;
}
.pab1{
    padding-left:0;
}
.pab3{
    padding-left:0;
    }
.exps{
    padding-right:0;
}
.noone{
    padding-left:0;
}
.ily1{
    
    padding-top:190px;
}
}
@media screen and (max-width:740px){

nav.mobile{
    transition:2s;
    transition-delay: 2s;
    position:fixed;
    display:flex;
    justify-content: space-between;
    width:100%;
    opacity:90%;
    height:45px;
    background:rgb(8, 8, 8);
    border-bottom: 2px solid rgb(41, 41, 41)
    }
nav.mobile.active{
    transition:1s;
    transition-delay:1s;
    opacity:1;
}
nav.mobile.aktive{
    transition:1s;
    transition-delay: 1s;
    opacity:1;
}
/* introduce */

.introd1{
    color:rgb(54, 48, 48);
    font-size:32px;
}
a.introd1{
    
    text-decoration:none;
}
a.introd1:hover{
    color:white;
    transition:2s;
    transition-delay:0.4s;
}

header{
    background-color:rgb(27, 27, 27);
}

/* logo da nav */
div.logo{
    background-image:url("./PicsArt_04-28-02.35.22.png");
    background-size:45px;
    height:45px;
    width:45px;
    cursor: pointer;
    opacity:1;
    z-index:1;
}


/* mobile */

/*os vezinhos da nav */
.vezinho{
    z-index:3;
    margin-top:12px;
    height:100%;
    transition: all 0.5s;
}
.vezinho.hover{
    cursor:pointer;
}
.vezinho1{
    width:18px;
    height:4px;
    background:#292826;;
    transform: rotate(-46deg) translateX(-11px);
}
.vezinho2{
    width:20px;
    height:4px;
    background:#292826;;
    transform: rotate(45deg) translateX(5px);
}
/* vezinho no .active */
.vezinho.active{
    width:5%;
    margin-top:20px;
    height:100%;
}
.vezinho1.active{
    width:20px;
    height:4px;
    background:#292826;;
    transform: rotate(46deg) translate(5px, 5px);
}
.vezinho2.active{
    width:20px;
    height:4px;
    background:#292826;;
    transform: rotate(-45deg) translate(6px, 10px);
}

/* transicao vezinho cada */
.vezinho, .vezinho.active{
    transition: all 1s;
}
.vezinho1, .vezinho1.active{
    transition: all 0.97s;
}
.vezinho2, .vezinho2.active{
    transition: all 1s;
}
/* as barras da nav*/
.barra{
    transition:all 1s;
    height:100%;
    margin-top:15px;
    margin-right: 20px;
}
.barra.hover{
    cursor:pointer;
}
.barra1{
    width:25px;
    height:5px;
    background:#121211;
}
.barra2{
    margin-top:7px;
    width:25px;
    height:5px;
    background:#121211;
}
.barrapc{
    display:none;
}
/* barra no .active */
.aboutpc{
    display:none;
}
.barra.active{
    height:100%;
    margin-top:18px;
}
.barra1.active{
    width:25px;
    height:5px;
    background:#121211;
    transform: rotate(42deg) translate(1px, 3px);
}
.barra2.active{
    width:25px;
    height:5px;
    background:#121211;
    transform: rotate(-42deg) translate(4px, -7px);
}
/* transicao vezinho cada */
.barra, .barra.active{
    transition: all 1s;
}
.barra1, .barra1.active{
    transition: all 0.97s;
}
.barra2, .barra2.active{
    transition: all 1s;
}
div.barrapc{
    display:none;
}
/*about pc sobre */
.aboutbpc{
    display:none;
}
/* sobre mim, aberto com vezinho */

.aboutv{
    display:block;
    padding-top:0;
    height:0;
    background-color:rgb(8, 8, 8);
    opacity:1;
    position:absolute;
    width:100%;
    transition:1s;
    transition-delay:0.6s;
    margin-top:2.8rem;
    position:fixed;
    z-index: 1000;
    
}

.aboutv.active{
    overflow:hidden;
    padding-top:40px;
    height:100%;
    transition:1.4s;
    transition-delay: 1s;
}
.aboutvopened{
    opacity:0;
    transition:0.2s;
    transition-delay:0.6s;
    pointer-events:none;
}
.aboutvopened.active{
    opacity:1;
    pointer-events: all;
    transition-delay:1.6s;
    
}
.aboutv li:hover{
    text-decoration: underline;
    color:rgb(255, 255, 255);
}

/* sobre mim aberto com bzinho*/

.aboutb{
    display:block;
    padding-top:0;
    height:0;
    background-color:rgb(8, 8, 8);
    opacity:1;
    position:absolute;
    width:100%;
    margin-top:2.8rem;
    transition:1s;
    transition-delay:0.6s;
    position:fixed;
    z-index: 1000;
}
.aboutb.active{
    overflow:hidden;
    padding-top:40px;
    height:100%;
    transition:1.4s;
    transition-delay: 1s;
}
 
.aboutbopened{
    opacity:0;
    transition:0.2s;
    transition-delay:0.6s;
    pointer-events:none;
}

.aboutbopened.active{
    opacity:1;
    pointer-events: all;
    transition-delay:1.6s;
}
.aboutb li:hover{
    text-decoration: underline;
}



/* opening the v */

.baixov1{
    text-decoration: none;
    font-size:30px;
    color:gray;
    cursor:pointer;
}
.baixov1:hover{
    color:white;
    transition:2s;
    transition-delay:0.3s;
}
.baixov2{
    cursor:pointer;
    text-align:center;
    margin-top: 60px;
}



/* opnening the b */

.baixob1{
    text-decoration: none;
    font-size:30px;
    color:gray;
    cursor:pointer;
}
.baixob1:hover{
    color:white;
    transition:2s;
    transition-delay:0.4s;
}
.baixob2{
    cursor:pointer;
    text-align:center;
    margin-top:40px;
}
/*GERAL DO MOBILE*/

/*about the collordifferent.jpg*/

.abertura{
    height:600px;
    width:100%;
}

/*background cards introduction2*/



div.holditall{
    background:black;
    padding-top:2px;
    padding-bottom:10px;
    height: 1100px;
    width:100%;
}
.sections1{
    background:black;
    width:100%;
    height:100%;
}
.sections2{
    width:100%;
}
.cadeira-num-campo{
    width:100%;
}
div.holditall .introducing2{
    margin:30px 10px;
}

section.introducing2{
    border:1px solid rgb(63, 63, 63);
    width:100%;
    height:300px;
}
section.intint{
    margin-top:170px;
    text-align:center;
}
[data-anime]{
    opacity:0;
    transition:0.3s;
}

[data-anime=]*left*{
    transform:translate3d(0, -60px, 0);
}
[data-anime].animate{
    opacity:1;
    transform:translate3d(0px, 0px, 0px);
}
h1.ch{
    color:rgb(214, 214, 214);
    font-size:30px;
    padding-top:20px;
    text-align:center;
}
p.cha{
    text-align:center;
    justify-content:center;
    font-size:22px;
}
.knowing{
    color:rgb(214, 214, 214);
    font-size:30px;
    padding-top:10px;
    text-align:center;

}
.knowing1{
    text-align:left;
    padding:0;
    font-size:19px;
}
.jtk{
    color:rgb(214, 214, 214);
    font-size:30px;
    padding-top:20px;
    text-align:center;
}
.intro1{
    color:rgb(214, 214, 214);
    font-size:24px;
    text-align:center; 
    padding-top:4px;
}
.wiw{
    padding-top:100px;
    color:rgb(0, 0, 0);
    font-size:40px;
    padding-bottom:100px;
    font-family: 'Roboto', sans-serif;
}
.intr1{
    color:rgb(17, 16, 16);
    font-size:30px;
    font-family: 'Roboto', sans-serif italic;
}
.lilletter{
    padding-top:60px;
}

/*about me */
.pab{
    font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
    font-size:60px;
    color:white;
    padding-top:100px;
    padding-bottom:50px;
}
.pab2{
    font-size:25px;
    color:white;
    padding-top:60px;
}
.pab1{
    padding-left:0;
}
.pab3{
    padding-left:0;
    }
.exps{
    padding-right:0;
}
.noone{
    padding-left:0;
}
.ily1{
    
    padding-top:190px;
}
/* linha final e redes-sociais*/

.redes-sociais ul li:hover{
    color:white;
    font-size:70px;
    transition: 0.7s;
}
.redes-sociais ul li{
    transition: 0.7s;
}

/*languages index */
p.pl{
    text-align:center;

}
p.pl2{
    text-align:center;
}
} /*acaba o mobile */

